<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">Saved By Grace&nbsp;因信称义</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu  菜单
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home&nbsp;主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/testimony.html" | relative_url }}">My Testimony&nbsp;见证</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts&nbsp;感想</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/gospel.html" | relative_url }}">The Gospel&nbsp;福音</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact.html" | relative_url }}">Contact&nbsp;联系</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
